
a {
	color: black
}	

p {
	padding-top: 2cm
}

hr {
    height: 3px;
    border: 0;
    width: 85%;
    margin-left: auto;
	margin-right: auto;
    background-color: #FFFFFF;
}

@font-face {
font-family: ClearSans-Light;
src: url("ClearSans-Light.ttf") format("opentype");
}

@font-face {
font-family: ClearSans-Italic;
src: url("ClearSans-Italic.ttf") format("opentype");
}

@font-face {
font-family: ClearSans-Bold;
src: url("ClearSans-Bold.ttf") format("opentype");
}


